<<<<<<< HEAD
footer {
  background-color: $color-oscuro;
  bottom: 0;
  width: 100%;
  position: fixed;
}
=======
footer {
  background-color: $color-oscuro;
  bottom: 0;
  width: 100%;
  position: fixed;
}
>>>>>>> 8748c9179aa2953919b44d21bd12542b91f2f79b
