<<<<<<< HEAD
.title1 {
  margin: 0 auto;
  color: $color-primario;
  text-align: center;
}
=======
.title1 {
  margin: 0 auto;
  color: $color-primario;
  text-align: center;
}
>>>>>>> 8748c9179aa2953919b44d21bd12542b91f2f79b
